<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="icon" href="../static/images/logoN.webp" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <img src="../static/images/logo.png" alt="logo" id="logo">
    <div>
        <h1>Sign In</h1>
        <form id="formInicioSesion">
            <input type="text" id="correo" placeholder="Username" required>
            <input type="password" id="contraseña" placeholder="Password" required>
            <button>Sign In</button>
        </form>
        
        <p>Or</p>
        <button onclick="window.location.href =  'no_disponible.html'">Use a sign-in code</button>
        <a href="no_disponible.html"><p>Forgot your password?</p></a>
        <p>First time on Netflix? <a href="sign-up_en.html">Sign up now</a></p>
    </div>
    <footer>
        <p>Any questions? Call 900-759-106 (free)</p>
        <table border="0">
            <tr>
                <td>FAQ</td>
                <td>Help Center</td>
            </tr>
            <tr>
                <td>Terms of Use</td>
                <td>Privacy</td>
            </tr>
            <tr>
                <td>Cookie Preferences</td>
                <td>Corporate Information</td>
            </tr>
            <tr>
                <td>Ad Options</td>
            </tr>
        </table>
        <select name="idioma" id="idioma" onchange="cambiarIdioma()">
            <option value="es">Spanish</option>
            <option value="en" selected>English</option>
        </select>
    </footer>
    
    <script src="../static/js/login.js"></script>
</body>
</html>