<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Regístrate</title>
    <link rel="icon" href="../static/images/logoN.webp" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <img src="../static/images/logo.png" alt="Netflix Logo" id="logo">
    
    <div>
        <h1>Crear cuenta</h1>
        <form id="formRegistrarUsuario">
            <input type="text" id="usuario" placeholder="Nombre de usuario" required>
            <input type="password" id="contrasenia" placeholder="Contraseña" required>
            
            <input type="checkbox" id="privacy" required>
            <p>Acepto los <a href="no_disponible.html">Términos de uso</a> y la <a href="no_disponible.html">Declaración de privacidad</a>.</p>
            
            <button>Registrarse</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a href="login_es.html">Iniciar sesión</a></p>
    </div>

    <footer>
        <p>¿Alguna pregunta? Llama al 900-759-106 (gratis)</p>
        <table border="0">
            <tr>
                <td>Preguntas frecuentes</td>
                <td>Centro de ayuda</td>
            </tr>
            <tr>
                <td>Términos de uso</td>
                <td>Privacidad</td>
            </tr>
            <tr>
                <td>Preferencias de cookies</td>
                <td>Información corporativa</td>
            </tr>
            <tr>
                <td>Opciones de anuncios</td>
            </tr>
        </table>
        <select name="idioma" id="idioma" onchange="cambiarIdioma()">
            <option value="es">Español</option>
            <option value="en">Inglés</option>
        </select>
    </footer>
    <script src="../static/js/sign-up.js"></script>
</body>
</html>