<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Sign Up</title>
    <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <img src="../static/images/logo.png" alt="Netflix Logo" id="logo">
    
    <div>
        <h1>Create Account</h1>
        <form id="formRegistrarUsuario">
            <input type="text" id="usuario" placeholder="Username" required>
            <input type="password" id="contrasenia" placeholder="Password" required>
            
            <input type="checkbox" id="privacy" required>
            <p>I accept the <a href="no_disponible.html">Terms of Use</a> and the <a href="no_disponible.html">Privacy Statement</a>.</p>
            
            <button>Sign Up</button>
        </form>
        
        
        <p>Already have an account? <a href="login_en.html">Log In</a></p>
    </div>

    <footer>
        <p>Questions? Call 900-759-106 (toll-free)</p>
        <table border="0">
            <tr>
                <td>FAQ</td>
                <td>Help Center</td>
            </tr>
            <tr>
                <td>Terms of Use</td>
                <td>Privacy</td>
            </tr>
            <tr>
                <td>Cookie Preferences</td>
                <td>Corporate Information</td>
            </tr>
            <tr>
                <td>Ad Choices</td>
            </tr>
        </table>
        <select name="language" id="idioma" onchange="cambiarIdioma()">
            <option value="es">Español</option>
            <option value="en" selected>English</option>
        </select>
    </footer>
    <script src="../static/js/sign-up.js"></script>
</body>
</html>